---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <Container>
    <div class="mx-auto max-w-3xl mt-14 mb-16">
      <span class="text-accent uppercase tracking-wider text-sm font-medium">
        {entry.data.category}
      </span>
      <h1
        class="text-3xl lg:text-4xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {entry.data.title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          {entry.data.author}
        </span>
        <span class="text-gray-400">•</span>
        <time
          class="text-gray-400"
          datetime={entry.data.publishDate.toISOString()}>
          {entry.data.publishDate.toDateString()}
        </time>
      </div>
      <div class="text-muted w-full md:w-auto mt-4 text-lg md:text-xl">
        {entry.data.snippet}
      </div>
      <div class="w-full md:w-auto mt-4 flex gap-2 items-center flex-wrap">
        {
          entry.data.tags.map((tag) => (
            <span class="text-sm text-gray-500">#{tag}</span>
          ))
        }
      </div>
    </div>

    <div class="mx-auto post-content prose prose-lg mt-6 max-w-3xl">
      <Content />
    </div>
    <div class="text-center mt-[150px] mb-16">
      <a href="/blog" class="btn-primary px-5 py-3 rounded-md">← Back to Blog</a
      >
    </div>
  </Container>

  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      const target = document.querySelector(".post-content");

      if (target) {
        target.addEventListener("copy", (e) => {
          const selection = window.getSelection();
          if (selection.toString().length < 10) return;

          const copyright = `\n\n[Source: Copyright © ${window.location.hostname} by Hyerin Kim]\nOriginal Link: ${window.location.href}`;

          e.clipboardData.setData(
            "text/plain",
            selection.toString() + copyright,
          );
          e.preventDefault();
        });
      }
    });
  </script>
</Layout>
